# Deny direct access to everything
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ - [F,L]
</IfModule>

# For extra security, deny access without mod_rewrite
<IfModule !mod_rewrite.c>
    Order Allow,Deny
    Deny from all
</IfModule>
